@model UserViewModel

@using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
{
    <h3>Create user</h3>
    @Html.LabelFor(x => x.EmailAddress)
    @Html.EditorFor(x => x.EmailAddress)
    <br>
    <br>
    @Html.LabelFor(x => x.FirstName)
    @Html.EditorFor(x => x.FirstName)
    <br>
    <br>
    @Html.LabelFor(x => x.LastName)
    @Html.EditorFor(x => x.LastName)
    <br>
    <br>
    @Html.LabelFor(x => x.Password)
    @Html.EditorFor(x => x.Password)
    <br>
    <br>
    @Html.LabelFor(x => x.Type)
    @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList<NoSQL.Models.UserType>())
    <br>
    <br>
    @Html.LabelFor(x => x.PhoneNumber)
    @Html.EditorFor(x => x.PhoneNumber)
    <br>
    <br>
    @Html.LabelFor(x => x.Location)
    @Html.DropDownListFor(x => x.Location, Html.GetEnumSelectList<NoSQL.Models.UserLocation>())
    <br>
    <br>
    <button type="submit">Create user</button>
}
