@using System.Globalization
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Users</h2>

<table class="table">

    <tr>
        <th>Id </th>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Email</th>
        <th>Users</th>

    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.EmailAddress</td>
            <td>@user.FirstName, @user.LastName</td>
            <td>@user.LastName</td>

        </tr>

    }
</table>

<br />
<br />
@await Html.PartialAsync("Partial/CreateUser", new UserViewModel())
@* Easy segment for showing any potential modelstate errors *@

@foreach (var modelState in ViewData.ModelState.Values)
{
    @foreach (var error in modelState.Errors)
    {
        <text>@error.ErrorMessage</text>
    }
}



