@using System.Net.Http
@model UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Log in</h2>

@if (TempData["authError"] != null)
{
    <text>@TempData["authError"]</text>
}

@if (TempData["registerError"] != null)
{
    <text>@TempData["registerError"]</text>
}

@using (Html.BeginForm("Login", "Login", HttpMethod.Post))
{
    @Html.LabelFor(m => m.EmailAddress, "Email address")
    @Html.EditorFor(m => m.EmailAddress)
    <br>
    @Html.LabelFor(m => m.Password, "Password")
    @Html.EditorFor(m => m.Password)
    <br>
    <button type="submit">Log in</button>
}

@Html.ActionLink("Forgot password","ForgotPassword","Login")